*{
  margin:0;
  padding:0;
  box-sizing: border-box;
  font-family: "gilroy";
}
html,body{
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #5F74A3;
}
.box{
  min-height: auto;
  width: fit-content;
  background-color: #B3C5E7;
  border-radius: 50px;
  overflow: hidden;
}
.wrap{
  font-family: "comic ";
  font-weight: 500;
  height: 10vh;
  width: 30vw;
  /* border: 1px solid #000; */
  display:flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  color: #DB8498;
  border-bottom: 1px solid #c1d5f9;
  background:linear-gradient(#768196f1,#8d9bb4b9,#b3c5e7);
}
input{
  background: transparent;
  border: 0;
  padding: 10px;
  padding-left: 33px;
  height: 10vh;
  width: 20vw;
  font-size: 14px;
  border-radius: 50px 0px 0px 50px;
  caret-color: gray;
  color: #200e1888;
  outline: none;
  font-size: 1.5vw;
}
input::-webkit-search-cancel-button{
  -webkit-appearance: none;
}
input::placeholder{
  color: #200e1888;
}
.searchButton{
  margin-top: 5px;
  height: 10vh;
  width: 10vw;
  border-radius: 0vwvw 0vw 0vw;
  border: 0;
  background:linear-gradient(#db8498e3,#b3c5e7);
  font-size: 1.5vw;
  color: #fff;
  cursor: pointer;
}
.widget{
  /* border: 1px solid #000000; */
  height: fit-content;
  width:30vw;
}
.weatherIcon{
/* border: 1px solid #fff; */
height: 20vh;
display: flex;
align-items: center;
justify-content: center;
font-size: 10vh;
color: #36425c;
}

.weatherInfo{
/* border: 1px solid #fff; */
height: 10vh;
display: flex;
align-items: center;
justify-content: space-around;
white-space: nowrap;
}
.temperature{
  /* border: 1px solid #000000; */
  width: calc(100%/3);
  height: 10vh;
  padding-left: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2vw;
  color: #fff;
  background-color: #db8498d3;
}
.description{
  /* border: 1px solid #000000; */
  width: calc(100%/3);
  height: 10vh;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1.25vw;
  letter-spacing: 0.03vw;
  padding-right:20px;
  background-color: #db8498d3;
}
.weatherCondition{
  /* border: 1px solid #c21616; */
  height: 40%;
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.place{
  /* border: 1px solid #fff; */
  height: 40%;
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.date{
  height: 100%;
  width: calc(100%/3);
  /* border: 1px solid #d43434; */
  font-size: 1.5vw;
  line-height: 1.8vw;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffe6ebca;
  color: #db8498;
  font-size: 1.3vw;
}
.extra-temp{
  /* border: 1px solid #fff; */
  font-size: 1.5vw;
  display: flex;
  align-items: center;
  height: 15vh;
  background:linear-gradient(#B3C5E7,#768196);
  font-size: 1vw;
}
.two-sided-section{
/* border: 1px solid #fff; */
color: #fff;
width: 25%;
height: 100%;
display: flex;
align-items: center;
justify-content: center;
gap: 0.5vw;
}


